---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

TA for ECON 202: Principle of Microeconomics at Texas A&M
======
Dr. Jonathan Meer, Spring 2022 - Spring 2023

Introductory microeconomics class that is a reuqirement for many majors. In the three semesters I have been a TA for this class, we have had over 3,000 students enrolled. This course is adminstered mainly online, with many in-person opporunities and events for the students.
